
@{
    ViewData["Title"] = "CharacterInfo";
}

<h1>Character Info Page</h1>

@*Combat Stats*@
<h1>Combat Stats</h1>
<p>Current Hit Points: </p>
<p>Max Hit Points: </p>
<p>Temporary Hit Points: </p>
<p>Hit Dice: </p>
<p>Death Saves: </p>
<p>Speed: </p>
<p>Initiative: </p>

@*Background*@
<p>Background: </p>

@*Core Stats*@
<h1>Core Stats</h1>
<p>Strength: </p>
<p>Dexterity: </p>
<p>Constitution: </p>
<p>Intelligence: </p>
<p>Wisdom: </p>
<p>Charisma: </p>

@*Character Information*@
<h1>Character Info</h1>

@*Experience*@
<h1>Current Exp / Necessary Exp</h1>
<p>CurExp / NeededExp</p>

@*Character*@
<h1>Character</h1>
<p>Class: </p>
<p>Level: </p>
<p>Alignment: </p>
<p>Race: </p>
<p>Player Name: </p>
<p>Background: </p>
<p>Character Name: </p>