
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Features</h1>

@foreach (Feature feature in @Model.Features.Features)
{
    <p>@feature.featureName : @feature.featureDescription</p>
}