
@{
    ViewData["Title"] = "Skills";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Skills</h1>


@{ 
    foreach(Skill skill in @Model.CharSkills.CharSkills)
    {
        <p>@skill.SkillName: @skill.IsProficient : @skill.Bonus</p>
    }
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Proficient</th>
            <th>Bonus</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>