
@{
    ViewData["Title"] = "Spells";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Spells</h1>

<table>
    <thead>
        <tr>
            <th>SPELL NAME</th>
            <th>SPELL DESCRIPTION</th>
            <th>SPELL LEVEL</th>
        </tr>
    </thead>
</table>
@{ 
    foreach(Spell spell in @Model.Spells.Spells)
    {
        <p>@spell.SpellName: Level: @spell.SpellLevel, @spell.SpellDescription</p>
    }
}