
@{
    ViewData["Title"] = "Spells";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Spells</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Spell spell in @Model.Spells.Spells)
            {
                <tr>
                    <th>@spell.SpellName</th>
                    <th>@spell.SpellLevel</th>
                    <th>@spell.SpellDescription</th>
                </tr>
            }
        }
    </tbody>
</table>