h1 {
    color: #000000;
    font-size: 70px;
}

body {
    background-color: #F2B366;
    width: 100%;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 80%;
    margin: auto;
}

#main {
    font-family: 'Montserrat', sans-serif;
    background-color: #734D2D;
    /*color: #E9D28D;*/
    width: 95%;
    height: 100%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 10px;
    border: 2px solid;
    box-shadow: 2px 2px #111, 4px 4px #222, 6px 6px #000, 8px 8px #000, 10px 10px #000, 12px 12px #000, 14px 14px #000, 16px 16px #000;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    color: #900905;
    background-color: #D99D8F;
    text-align: center;
    width: 90%;
    border-radius: 4px;
    margin: 4px;
    padding: 15px;
    transition: ease-in-out 170ms;
    font-size: 15px;
    border: 0px;
}

a {
    text-decoration: none;
    color: antiquewhite;
    border: groove 2px #F2C063;
    padding: 3px;
    margin: 10px;
}

.btn:hover {
    background-color: #900905;
    color: #FA739B;
}

#content {
    background-color: #F2C063;
    border-radius: 4px;
    padding: 20px;
    top: 10px;
    border: 1px solid;
    margin: 13px;
}

img {
    border: #000 1px solid;
    padding: 1%;
    width: 45%;
}

#button {
    width: 500px;
}

table {
    border-collapse: collapse;
}

.gameContainer {
    margin: 2px 2px 2px 2px;
    padding: 4px 2px 4px 2px;
    border: #000000 1px solid;
}

.topnavLower {
    margin:15px;
}

table {
    border: solid 1px brown;
}

    table thead {
        background-color: #734D2D;
        color: antiquewhite;
    }

    table td, table th {
        padding: 10px;
    }
