<html>
<head>

</head>

<body>
<h1>
    Welcome to the character page
</h1>
<table>
    <thead>
    <tr>
        Name
    <tr/>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
</table>

<footer>
</footer>
</body>

</html>