@model User


<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div id="content">

            <div id="login">
                <p>Log in</p>
                <form method="post">
                    <p>
                        <label>Username or Email: </label>
                        <input asp-for="Username"/>
                    </p>
                    <p>
                        <label>Password: </label>
                        <input asp-for="Password" />
                    </p>
                </form>
            </div>

            <div id="signup">

            </div>
        </div>

        <footer>
        </footer>
    </body>

</html>