@model User
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewData["Title"] = "Log in or Sign up";
}
<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
 

            <div id="login">
                <p>Log in</p>
                <form method="post">
                    <p>
                        <label>Username or Email: </label>
                        <input asp-for="Username"/>
                    </p>
                    <p>
                        <label>Password: </label>
                        <input asp-for="Password" />
                    </p>
                </form>
            </div>

            <div id="signup">

            </div>

        <footer>
        </footer>
    </body>

</html>