@model User
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewData["Title"] = "Log in or Sign up";
}
<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
 

            <div id="login">
                <p>Log in</p>
                <form asp-action="LogIn" method="post">
                    <p>
                        <label>Username or Email: </label>
                        <input asp-for="Username" name="username"/>
                    </p>
                    <p>
                        <label>Password: </label>
                        <input asp-for="Password" name="password"/>
                    </p>
                    <p>
                        <input type="submit" value="Log In" class="btn"/>
                    </p>
                </form>
            </div>

            <div id="signup">
                <p>Sign up</p>
                <form asp-action="SignUp" method="post">
                    <p>
                        <label>Email</label>
                        <input asp-for="Email" name="email" />
                    </p>
                    <p>
                        <label>Username</label>
                        <input asp-for="Username" name="username" />
                    </p>
                    <p>
                        <label>Password: </label>
                        <input asp-for="Password" name="password" />
                    </p>
                    <p>
                        <label>Confirm Password: </label>
                        <input asp-for="Password" name="passwordverification" />
                    </p>
                    <p>
                        <input type="submit" value="Sign Up" class="btn"/>
                    </p>

                </form>
            </div>

        <footer>
        </footer>
    </body>

</html>