<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<header>
    <img id="special" src="~/Images/VideoGames.jfif" height="800" />
    <ol>
        <li><a asp-controller="Home" asp-action="testingPage">TESTING</a></li>
    </ol>
</header>
<div id="main">
    <div id="content">
        @RenderBody()
    </div>
</div>
</body>
</html>