<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @*Temporary navigation bar to show character info*@
    <div class="topnav">
        <a asp-action="CharacterInfo" asp-controller="CharacterSheet">CharacterInfo</a>
        <a asp-action="Features" asp-controller="CharacterSheet">Features</a>
    </div>
    <div id="main">
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
