<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link href='~/Main.css' rel='stylesheet' />
    <title>@ViewBag.Title</title>
</head>
<body>
<header>
    <img id="special" src="~/Images/VideoGames.jfif" height="800" />
    <ol>
        <li><a asp-controller="Home" asp-action="testingPage">TESTING</a></li>
    </ol>
</header>
<div id="main">
<div id="content">
    @RenderBody()
    <div id="main">
        @*Temporary navigation bar to show character info*@
    <div class="topnav">
        <a asp-controller="Home" asp-action="Index">Log In or Sign Up</a>
    </div>

    <div class="topnavLower">
        <a asp-action="CharacterInfo" asp-controller="CharacterSheet">CharacterInfo</a>
        <a asp-action="Features" asp-controller="CharacterSheet">Features</a>
        <a asp-action="Inventory" asp-controller="CharacterSheet">Inventory</a>
        <a asp-action="Skills" asp-controller="CharacterSheet">Skills</a>
        <a asp-action="Spells" asp-controller="CharacterSheet">Spells</a>
    </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</div>
</div>
</body>
</html>