
@{
    ViewData["Title"] = "Add Feature";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Add Feature</h1>

<form method="post">
    <table>
        <thead>
            <tr>
                <th><label asp-for="Features.FeatureField.featureName">Feature Name</label></th>
                <th><label asp-for="Features.FeatureField.featureDescription">Feature Description</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="Features.FeatureField.featureName" /></th>
                <th><input asp-for="Features.FeatureField.featureDescription" /></th>
            </tr>
        </tbody>
    </table>
    <p><button type="submit">Add Feature</button></p>
</form>

