
@{
    ViewData["Title"] = "Update Wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@model Wallet

<h1>Update Wallet</h1>
<form method="post">

    @*Wallet*@
    <table>
        <thead>
            <tr>
                <th><label asp-for="copper">Copper amount:</label></th>
                <th><label asp-for="silver">Silver amount:</label></th>
                <th><label asp-for="gold">Gold amount:</label></th>
                <th><label asp-for="electrum">Electrum amount:</label></th>
                <th><label asp-for="platinum">Platinum amount:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="copper" /></th>
                <th><input asp-for="silver" /> </th>
                <th><input asp-for="gold" /></th>
                <th><input asp-for="electrum" /></th>
                <th><input asp-for="platinum" /></th>
            </tr>
        </tbody>
    </table>
    <p><button type="submit">Update Wallet</button></p>
</form>
