
@{
    ViewData["Title"] = "Update Wallet";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Update Wallet</h1>
<form method="post">

    @*Wallet*@
    <table>
        <thead>
            <tr>
                <th><label asp-for="CharWallet.copper">Copper amount:</label></th>
                <th><label asp-for="CharWallet.silver">Silver amount:</label></th>
                <th><label asp-for="CharWallet.gold">Gold amount:</label></th>
                <th><label asp-for="CharWallet.electrum">Electrum amount:</label></th>
                <th><label asp-for="CharWallet.platinum">Platinum amount:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="CharWallet.copper" /></th>
                <th><input asp-for="CharWallet.silver" /> </th>
                <th><input asp-for="CharWallet.gold" /></th>
                <th><input asp-for="CharWallet.electrum" /></th>
                <th><input asp-for="CharWallet.platinum" /></th>
            </tr>
        </tbody>
    </table>
    <p><button type="submit">Update Wallet</button></p>
</form>
