
@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Create Inventory</h1>
<form method="post">

    @*Wallet*@
    <table>
        <thead>
            <tr>
                <th><label asp-for="CharWallet.copper">Copper amount:</label></th>
                <th><label asp-for="CharWallet.silver">Silver amount:</label></th>
                <th><label asp-for="CharWallet.gold">Gold amount:</label></th>
                <th><label asp-for="CharWallet.electrum">Electrum amount:</label></th>
                <th><label asp-for="CharWallet.platinum">Platinum amount:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="CharWallet.copper" /></th>
                <th><input asp-for="CharWallet.silver" /> </th>
                <th><input asp-for="CharWallet.gold" /></th>
                <th><input asp-for="CharWallet.electrum" /></th>
                <th><input asp-for="CharWallet.platinum" /></th>
            </tr>
        </tbody>
    </table>

    @*Item*@
    <table>
        <thead>
            <tr>
                <th><label asp-for="CharInventory.itemField.itemAmount">Item Amount:</label></th>
                <th><label asp-for="CharInventory.itemField.itemName">Item Name:</label></th>
                <th><label asp-for="CharInventory.itemField.itemDescription">Item Description:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="CharInventory.itemField.itemAmount" /></th>
                <th><input asp-for="CharInventory.itemField.itemName" /></th>
                <th><input asp-for="CharInventory.itemField.itemDescription" /></th>
            </tr>
        </tbody>
    </table>

    @*Weapon*@
    <table>
        <thead>
            <tr>
                <th><label asp-for="CharInventory.weaponField.weaponName">Weapon Name:</label></th>
                <th><label asp-for="CharInventory.weaponField.weaponDescription">Weapon Description:</label></th>
                <th><label asp-for="CharInventory.weaponField.weaponMod">Weapon Modifier:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="CharInventory.weaponField.weaponName" /></th>
                <th><input asp-for="CharInventory.weaponField.weaponDescription" /></th>
                <th><input asp-for="CharInventory.weaponField.weaponMod" /></th>
            </tr>
        </tbody>
    </table>
    <p><button type="submit">Create</button></p>
</form>
