
@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Create Inventory</h1>
<form method="post">

    @*Wallet*@
    <p>
        <label asp-for="CharWallet.copper">Copper amount:</label>
        <input asp-for="CharWallet.copper" />
    </p>
    <p>
        <label asp-for="CharWallet.silver">Silver amount:</label>
        <input asp-for="CharWallet.silver" />
    </p>
    <p>
        <label asp-for="CharWallet.gold">Gold amount:</label>
        <input asp-for="CharWallet.gold" />
    </p>
    <p>
        <label asp-for="CharWallet.electrum">Electrum amount:</label>
        <input asp-for="CharWallet.electrum" />
    </p>
    <p>
        <label asp-for="CharWallet.platinum">Platinum amount:</label>
        <input asp-for="CharWallet.platinum" />
    </p>

    @*Add an item*@
    <p>
        <label asp-for="CharInventory.itemField.itemAmount">Item Amount:</label>
        <input asp-for="CharInventory.itemField.itemAmount" />
    </p>
    <p>
        <label asp-for="CharInventory.itemField.itemName">Item Name:</label>
        <input asp-for="CharInventory.itemField.itemName" />
    </p>
    <p>
        <label asp-for="CharInventory.itemField.itemDescription">Item Description:</label>
        <input asp-for="CharInventory.itemField.itemDescription" />
    </p>

    @*Add a weapon*@
    <p>
        <label asp-for="CharInventory.weaponField.weaponName">Weapon Name:</label>
        <input asp-for="CharInventory.weaponField.weaponName" />
    </p>
        <label asp-for="CharInventory.weaponField.weaponDescription">Weapon Description:</label>
        <input asp-for="CharInventory.weaponField.weaponDescription" />
    <p>
        <label asp-for="CharInventory.weaponField.weaponMod">Weapon Modifier:</label>
        <input asp-for="CharInventory.weaponField.weaponMod" />
    </p>
    <p><button type="submit">Create</button></p>
</form>
